body {
	color: white;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: blue;
}
button{
	color: blue;
}

#submit{
	color: blue;
}

.Footer{
	text-align: center;
}

.panel-title{
	color: blue;
}
