body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: baskerville-italic;
  background: linear-gradient(blue, lightblue);

}

.panel-default>.panel-heading{
  background: transparent;
  border: none;
}


.Footer{
  text-align: center;
}

.panel-title{
  color: blue;
  background: transparent;
}

.App {

  text-align: center;

}

.App-logo {
  
  height: 200px;
}

.App-logo-small{
  height: 50px;
}

.App-header {
  text-align: center;
  font-size: 48px;
  height: 60px;
  padding: 20px;
  color: white;

}

.App-title {
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 20px;
}

.App-intro {
  margin-top: 40px;
  color: white;
  font-size: 35px;
}

#UsrData{
  border-radius: 10px;
  font-size: 18px;
}

.Udata{
    margin-bottom:10px;
    border-radius: 10px;
    height: 30px;
    width: 30%;
    font-size: 15px;
}

.LogBut{
   width: 50px;
   border-radius: 10px;

}

.RegBut{
    margin: 0px;
    font-size: 15px;
}

.photo{
  height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
    float: left;
}

.PhotoBox{
  margin: 20px;
  float: left;
}

.logo {
  background-image: 200px;
  height: 200px;
}

.jumbotron{
  height: 250px;
  background-image: url("./styles/highschool.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; 
  color: white;
  text-align: center;
  border-radius: 10px;
}

.jtt{
  margin-bottom: 100px;
}

.sidebar{
  font-size: 1.25rem;
        float: left;
        padding: 10px;
        width: 12%;
        background: white;
        border-radius: 10px;
}







.panel{
  float: right;
  width: 80%;
  margin-right: 35px;
  background: transparent;
}

.panel-body{
  color: blue;
}

.header{
  font-size: 24px;
}

.welcome{
  font-size: 18px;
}

.entry{
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  color: white;
  font-size: 18px;

}

.inField{
  margin-right: 15px;
  margin-left: 15px;
  color: blue;
  border-radius: 10px;
  
}

.Footer{
  width: 100%;
  text-align: center;
  position: center;
}

.navbar{
  width: 12%;
  margin-bottom: 0px;
  border-radius: 10px;
  position: center;
  background-color: white;
  color: blue;
  float: left;
}

.Comment {
  margin: 0%;
  text-align: left;
  font-size: 18px;
}

.boxesSpace {
    overflow: auto;
}

.CommentBox {
  width: 100%;
  padding: 10px;
  float: left;
  border-radius: 10px;
  border-color: blue;
  border-width: 25px;
}

.CommentInput{
    text-align: left;
}

.commBut{
    border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;

}

.SendBox{
    border-radius: 10px;
    font-size: 18px;
}

button{
  color: blue;
  margin-left: 35px;
  border-radius: 10px;
  font-size: 18px;
}

.regForm{
    padding-left: 40px;
}

.panel-heading{
  background:transparent;

}

.regForm{
    padding-left: 40px;
}

