



.App {

  text-align: center;

}

.App-logo {
  
  height: 200px;
}

.App-header {
  text-align: center;
  font-size: 48px;
  background-color: blue;
  height: 60px;
  padding: 20px;
  color: white;

}

.App-title {
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 20px;
}

.App-intro {
  margin-top: 40px;
  color: white;
  font-size: 35px;
}

#UsrData{
  border-radius: 10px;
  font-size: 18px;
}

.Udata{
    margin-bottom:10px;
    border-radius: 10px;
    height: 30px;
    width: 30%;
    font-size: 15px;
}

.LogBut{
   border-radius: 10px;

}

.RegBut{
    border-radius: 10px;
    font-size: 15px;
}

.photo{
  height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
    float: left;
}

.PhotoBox{
  margin: 20px;
  float: left;
}

.logo {
  background-image: 200px;
  height: 200px;
}

.jumbotron{
  background: white;
  color: blue;
  text-align: center;
  border-radius: 0px;
}

.sidebar{
        float: left;
        padding: 10px;
        width: 12%;
        background: #f0f0f0;
        border-radius: 10px;
}

.panel{
  float: right;
  width: 80%;
  margin-right: 35px;
}

.panel-body-poll{
  color: blue;
}

.panel-body{
  color: blue;
}

.header{
  font-size: 24px;
}

.entry{
  color: white;

}

.inField{
  margin-left: 15px;
  vertical-align: right;
  color: blue;
  border-radius: 10px;
}

.Footer{
  width: 100%;
  text-align: center;
  position: center;
}

.navbar{
  margin-bottom: 0px;
  border-radius: 0px;
  position: center;
  background-color: white;
  color: blue;
}

.Comment {
  margin: 0%;
  text-align: left;
}

.boxesSpace {
    overflow: auto;
}

.CommentBox {
  /*border: solid 1px;*/
  width: 100%;
  padding: 10px;
  float: left;
}

.CommentInput{
    text-align: left;
}

.commBut{
    border-radius: 10px;
}

ul {
  list-style: none;
}

.SendBox{
    border-radius: 10px;
}
